               
<td class="comment_down_border comment_text">
                   <textarea name="comment" id="comment_area_<%= activity_id%>" class="comment_text_area"></textarea>
                    <p/><input type="button" value="Comment" onclick="postComment(<%=activity_id%>);" />
               </td>
