<div class='notice_blue' id="forms-login" style="width:700px;">
<div class='notice_head' id="right-pane-head">
<div style="float: left; vertical-align: bottom; padding-top: 9px; padding-right: 8px;">
</div>
<div class='notice_body'>
  <table border="0" cellpadding="0" cellspacing="0" >
    <% @users.each do |user| %>
    <tr>
      <td  nowrap="nowrap">
          <%= image_tag user.profile_picture.url(:thumb) %>
      </td>
      <td nowrap="nowrap">
          <strong><%= user.full_name %> </strong>
      </td>
      <td nowrap="nowrap">
          <% unless user == current_user || current_user.requested_friends.include?(user) || current_user.friends.include?(user) || current_user.pending_friends.include?(user) %>
          <% form_for(:friendship, :url => user_friends_path(:user_id => current_user.id, :friend_id => user.id)) do |f| %>
          <%= submit_tag "Add to My Friends" %>
          <% end %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

</div>
</div>
