<% unless @user.friends.empty? %>
<div style="float:left;">
<% @user.friends.each do |u| %>
  <div style="width:200;float:left;">
<%= link_to image_tag(u.profile_picture.url(:thumb)), "/users/"+u.id.to_s+"/wall"%>
<div>
	<strong><%= u.full_name %> </strong> <br/>
	Since <%= u.created_at.to_s(:long) %>
</div>
<%= link_to '[Remove]', user_friend_path(:user_id => current_user, :id => u), :class=>"reject-request", :method => :delete, :confirm => 'Are you sure?' %>
</div>
<% end %>
</div>
<% else %>
None
<% end %>
