Current Friends:
<br />
<div>
<%= render :partial => 'friends/friends' %>
</div>
<br />
<br />
<div>
Requested Friends:
<br />
<%= render :partial => 'friends/requested_friends' %>
</div>
<br />
<br />
<div>
Pending Friends:
<br />
<%= render :partial => 'friends/pending_friends' %>
</div>
