/*
 * Author: Sharjeel Ahmed Qureshi
 */
body {
/*	background-color: #BBBBBB;*/
}

.mbody {
    /* background-color: #12212D; */
   background-color: #BBBBBB;
    /* background-image: url("/images/body_bg.gif"); */
    background-repeat: repeat-x;
}

header {
	background: none repeat scroll 0 0 #12212d;
	padding: 15px 0 0 0;
}

header li {
	float: left;
}

header nav a {
	color: #607890;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 10px;
	margin: 0 0 0 5px;
	float: left;
	overflow: visible;
	/* -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px; */
	text-decoration:  none;
}

header nav a:visited {
	color: #607890;
}

header nav a:hover {
	color: #FFF;
}

a.mainnav-selected{
	background-color: #333333;
}

footer {
background: none repeat scroll 0 0 #12212d;
padding: 15px 0;	
}
form p { position:relative }

#main {
	/*
	margin-bottom: 20px;
	margin-top: 20px;
	*/
        font-size: 100%;
        min-height:350px;
        height:auto !important;
        height:350px;
}

#sidebar {
	background-color: #AAAAAA;
	padding: 10px 0;
}


#sidebar ul
{    
	list-style: none;
	font-weight: bold;
}

/*
#sidebar div
{
	margin-top: 20px;
	margin-bottom: 20px;	
}
*/


#mainpane {
	padding: 10px 0;
}

.sectitle {
	color: #888888;
	font-size: 10px;
}

.feeditem {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* for side navigation bar------------------------- */
#side_navigation {font-size:0.75em; width:150px;}
#side_navigation ul {margin:0px; padding:0px;}
#side_navigation li {list-style: none;}

ul.top-level {background:#666;}
ul.top-level li {
 border-bottom: #fff solid;
 border-top: #fff solid;
 border-width: 1px;
}

#side_navigation a {
 color: #fff;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
}
#side_navigation a:hover{
 text-decoration:underline;
}

#navigation li:hover {
 background: #f90;
 position: relative;
}