<div style="padding: 5px;" >
  <div style="text-align: center">
    <%= image_tag current_user.profile_picture.url(:small) %>
  </div>
  <br/>
  <strong><%= current_user.full_name %> </strong>
</div>
