<div class='notice_blue' id="forms-login" style="width:350px;">
<div class='notice_head' id="right-pane-head">
<div style="float: left; vertical-align: bottom; padding-top: 9px; padding-right: 8px;">
</div>
<div class='notice_body'>
  <div >
<%= image_tag current_user.profile_picture.url(:small) %>
</div>
<strong>Welcome <%= current_user.full_name %> </strong></div>
</div>
</div>
</div>

