<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>User account | HOW-R-U?</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="/misc/favicon.ico" type="image/x-icon" />
		<style type="text/css" src="def.css" media="all"></style>
		<style type="text/css" src="pg-login.css" media="all"></style>

	</head>	
	<body id="body-login">
		<!--[if IE]>
		<div id="IEroot">
			<![endif]-->
			<!-- //////////////////////////////////////////////////////////////////////////////// start Main Section -->
			<div id="main">

				<!-- USER-NAV -->
				<div id="menu">

					<div class="inner">
						<ul class="main-nav">
							<li>
							<a href="/" class="nav-home">home</a>	</li>

							<li>
							<a href="/imagi" class="nav-imagi">imagi</a>	</li>
							<li class="nav-separator"></li>

							<li>
							<a href="/photo" class="nav-photo">photo</a>	</li>
							<li class="nav-separator"></li>
							<li>
							<a href="/talk" class="nav-talk">talk</a>	</li>
						</ul>


						<ul class="user-nav">				

							<li class="tour">
							<a href="/#" class="nav-tour">Take a quick tour!</a>
							</li>

					</ul>				</div>
				</div>



				<!-- System Message -->


				<!-- System Message -->


				<!-- CONTENT -->
				<div id="content">
					<div class="inner">	

						<div class="left">
							<img src="/images/login-login.png">
						</div>
						<div class="right clear-box">

							<img src="/images/login-header-login.png">
							<form action="/user/login"  accept-charset="UTF-8" method="post" id="user-login">
								<div><div class="form-login">
										<div class="form-item">
											<label for="edit-name">Your email address: <span class="form-required" title="This field is required.">*</span></label>
											<input type="text" maxlength="60" name="name" id="edit-name"  size="60" value="" tabindex="1" class="form-text required" />
										</div>
										<div class="form-item">
											<label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>

											<input type="password" name="pass" id="edit-pass"  size="60"  tabindex="2" class="form-text required" />
										</div>
										<input type="hidden" name="form_id" id="edit-user-login" value="user_login"  />
										<input type="submit" name="op" id="edit-submit" value="Sign in"  tabindex="3" class="form-submit" />
									</div>
							</div></form>
							<p>Don't have an account? 
							<a href="/user/register">Create now!</a> | <a href="/user/password">Forgot password?</a>								</p>
						</div>







					</div>
				</div>


				<div id="content-bottom" class="clear-box">
					&nbsp;
				</div>

			</div>
			<!-- Main Section -->



			<!-- FOOTER -->
			<div id="footer">

				<div class="inner">
					<div id="copyright">
						<p>
						<strong>Copyright &copy; 2008-2009 hellohowru.com</strong> All rights reserved.
						</p>				
						<p class="links">
						<a href="/#">About</a> / <a href="/#">Help</a> / <a href="/#">contact</a>

						</p>
					</div>

					<div id="made-by">
						<p><a href="#"><img src="/images/summer-inc.png" alt="Summer Inc" /></a></p>
					</div>				
				</div>
			</div>

			<!-- Start of StatCounter Code -->
			<script type="text/javascript">
				var sc_project=3926096; 
				var sc_invisible=1; 
				var sc_partition=47; 
				var sc_click_stat=1; 
				var sc_security="d7e8834f"; 
				</script>

				<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a class="statcounter" href="http://www.statcounter.com/"><img class="statcounter" src="http://c.statcounter.com/3926096/0/d7e8834f/1/" alt="counter" /></a></div></noscript>

				<!-- End of StatCounter Code --><script type="text/javascript" src="/sites/all/modules/google_analytics/googleanalytics.js"></script>
				<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
				<script type="text/javascript">var pageTracker = _gat._getTracker("UA-4717145-1");pageTracker._initData();pageTracker._trackPageview();</script>


				<!--[if IE]>
			</div>
			<![endif]-->		
		</body>
	</html>
