      <table class='n_content' width='100%' cellspacing='0px' cellpadding='2px'>

        <tr>
          <td colspan='2'>
            <div id='new_msg_status' style='display:none;width:350px;' align='center'>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan='2'>
          </td>
        </tr>

        <tr>
          <td class='left_col'>
            <div class='light_box' style="border:none;background:none">
              <div class='notice_head' id="left-pane-head">
                <h2> Largest Social Network of Pakistanis </h2>
              </div>
              <div class='notice_body' style='min-height:300px;'>
                <div class='feature_list'>
                  <div class='feature'>
                    <div style='width:20%;float:left;'><img src="/images/mail.png" alt='' /></div>
                    <div style='width:80%;float:left;'>
                      <span style='font-size:16px;'> Free Registration </span><br />
                      from anyone in Pakistan as well as abroad
                    </div>
                  </div>
                  <div class='feature'>
                    <div style='width:20%;float:left;'><img src="/images/conversation.png" alt='' /></div>
                    <div style='width:80%;float:left;'>
                      <span style='font-size:16px;'> Online Conversations </span><br />
                      Keep your social interactions archived online
                    </div>
                  </div>
                  <div class='feature'>
                    <div style='width:20%;float:left;'><img src="/images/users.png" alt='' /></div>
                    <div style='width:80%;float:left;'>
                      <span style='font-size:16px;'> Online Contacts </span><br />
                      Your contacts and messages are maintained online
                    </div>
                  </div>
                  <div class='feature'>
                    <div style='width:20%;float:left;'><img src="/images/stock_not-spam_48x48.png" alt='' /></div>
                    <div style='width:80%;float:left;'>
                      <span style='font-size:16px;'> Spam Free </span><br />
                      We protect you against spam because we hate it much as you do
                    </div>
                  </div>
                  <div class='feature'>
                    <div style='width:20%;float:left;'><img src="/images/twitter_48.png" alt='' /></div>
                    <div style='width:80%;float:left;'>
                      <span style='font-size:16px;'>Twitter Pakistan Project</span><br />
                      Integrate Twitter with DainoBook
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </td>
          <td class='right_col'>
            <%= render '/user_sessions/new' %>
            <div class='null_box'>
              <div class='notice_body'>
                <div class="forms-element" id="forms-betasignup">
                  <a href="/users/new"> <h2 align="center"> Sign Up! &raquo; </h2> </a>
                  <small> Join the revolution! </small>
                </div>
                <br clear='all' />

                <div style='border-bottom:dotted 1px;padding:10px;'>
    			Follow us on Twitter <a target='_blank' href='http://twitter.com/dainobook/'><img title='Follow DainoBook on Twitter!' src='/dainostatic/images/twitter.png' /></a>
                </div>

                <div class="forms-element" style="float:left;padding-top:10px;width:300px;">
                  <small style="color:#A30000">
				For branding and partnership contact <strong>  </strong>

                  </small>
                </div>
              </div>
            </div>
          </td>
        </tr>


      </table>
